.table {
  background-color: #ffffff;
}

.table, button {
  box-shadow: -1px 1px 5px #52525265;
}

.table td {
  border: none;
}

.ground {
  width: 8em;
}

.btn {
  width: 6em;
}

#header {
  color: #f6f7f8;
  background: rgb(37,112,233);
  background: linear-gradient(34deg, rgba(37,112,233,1) 9%, rgba(36,182,255,1) 94%);
}

.modal-footer .btn {
  box-shadow: none;
  width: 9em;
}
