<body>
  <div class="jumbotron" id="header">
    <div class="container" id="jumbotron-container">
      <div class="row justify-content-around align-items-center">
        <div>
          <h1 id="jumbo-title">Members</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-6 col-lg-5 col-xl-4" id="members-container">
        <div class="table-section row justify-content-between align-items-center">
          <h1>Members</h1>
          <button class="fast-animated scale plus btn btn-success add-btn"><span>Add Fam</span></button>
        </div>
      </div>
    </div>
  </div>
</body>
