#title {
  font-family: kollektif;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}

body {
  background: rgb(37,112,233) !important;
  background: linear-gradient(34deg, rgba(37,112,233,1) 9%, rgba(36,182,255,1) 94%) !important;
  min-height: 100vh;
}
