<div>
  <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="display-4">Amanda Oh</h1>
            <h5 class="display-8">Child</h5>
          </div>
          <div class="col-sm-6">
            <h4 class="display-6">Rating</h4>
            <fa-icon [icon]="faStar" size="lg"></fa-icon>
            <fa-icon [icon]="faStar" size="lg"></fa-icon>
            <fa-icon [icon]="faStar" size="lg"></fa-icon>
            <fa-icon [icon]="faStar" size="lg"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt" size="lg"></fa-icon>
          </div>
        </div>
        <p class="lead">
          Parents: Josh Oh and Rebecca Oh
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Filter Tasks
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">All</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Approved</a>
              <a class="dropdown-item" href="#">Pending Approval</a>
              <a class="dropdown-item" href="#">Incomplete</a>
            </div>
          </div>
        </div>
      </div>

      <app-tasks-display></app-tasks-display>
</div>
