<div>
  <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="display-4">Amanda Oh</h1>
            <h5 class="display-8">Child</h5>
          </div>
          <div class="col-sm-6">
            <h4 class="display-6">Rating</h4>
            <fa-icon [icon]="faStar" size="lg"></fa-icon>
            <fa-icon [icon]="faStar" size="lg"></fa-icon>
            <fa-icon [icon]="faStar" size="lg"></fa-icon>
            <fa-icon [icon]="faStar" size="lg"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt" size="lg"></fa-icon>
          </div>
        </div>
        <p class="lead">
          Parents: Josh Oh and Rebecca Oh
        </p>
      </div>
    </div>

    <app-tasks-display [tasks]="tasks"></app-tasks-display>
</div>
