.add-btn {
  width: 8em;
}

#view-tasks-btn {
  margin: 1em 0 0 0;
  width: 11em;
}

.btn span{
  position: relative;
}

.fast-animated span,
.fast-animated span:after,
.fast-animated:hover span {
  transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
}

.plus span:after {
  content: '\002B';
  margin-left: 0.5em;
  position: absolute;
  transform: scale(0);
  transform-origin: left;
}

.arrow span:after {
  content: '\25b6';
  position: absolute;
  opacity: 0;
  right: -1em;
}

.scale span:after {
  transform: scale(0);
  transform-origin: left;
}

.add-btn:hover span {
  padding-right: 1em;
}

.add-btn:hover span:after {
  transform: scale(1.3);
}

#view-tasks-btn:hover span {
  padding-right: 1.2em;
}

#view-tasks-btn:hover span:after {
  opacity: 1;
  right: 0em;
}

/* Table styling */

.table-section {
  display: flex;
  padding: 1em;
}

.table-section h1 {
  margin-bottom: 0;
}

.table {
  background-color: #ffffff;
}

.table, button, #header {
  box-shadow: -1px 1px 5px #52525265;
}

.table td {
  border: none;
}

/* Header Styling */

#jumbotron-container {
  margin: auto;
}

#jumbo-title {
  font-size: 50px;
}

.stats {
  width: 25em;
}

.stats .line {
  box-sizing: border-box;
  margin: 0.5em auto 1em auto;
  width: 50%;
  border-top: 1px solid #f6f7f8;
}

.stats fa-icon {
  margin-left: 0.4em;
}

#header {
  border-radius: 0em;
  color: #f6f7f8;
  background: rgb(37,112,233);
  background: linear-gradient(34deg, rgba(37,112,233,1) 9%, rgba(36,182,255,1) 94%);
}

#newTaskModalTitle {
  font-family: kollektif;
  color: #f6f7f8;
}

#newTaskHeader {
  background: rgb(37,112,233);
  background: linear-gradient(34deg, rgba(37,112,233,1) 9%, rgba(36,182,255,1) 94%);
}
