.modal-header {
  border-radius: .2em .2em 0 0;
  color: #f6f7f8;
  background: rgb(37,112,233);
  background: linear-gradient(34deg, rgba(37,112,233,1) 9%, rgba(36,182,255,1) 94%);
}

.toggle-switch {
  display: none;
}

.switch {
  display: flex;
  justify-content: center;
  height: inherit;
}

.toggle-switch + label {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.toggle-switch + label {
  width: inherit;
  height: inherit;
  background-color: #dddddd;
  border-radius: 2em;
}

input.toggle-switch + label:before,
input.toggle-switch + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}


input.toggle-switch + label:before {
  background-color: #f1f1f1;
  border-radius: 2em;
  transition: background 0.4s;
}

input.toggle-switch + label:after {
  content: "Parent";
  align-content: center;
  align-self: center;
  padding: 0 1em;
  background-color: #fff;
  border-radius: 2em;
  transition: 0.4s;
}

input.toggle-switch:checked + label:before {
  background-color: #8ce196;
}

input.toggle-switch:checked + label:after {
  content: "Child";
  margin-left: 4.2em;
}
