.toggle-switch {
  visibility: hidden;
}

.toggle-switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.toggle-switch + label {
  width: 4em;
  height: 2em;
  background-color: #dddddd;
  border-radius: 2em;
}

input.toggle-switch + label:before,
input.toggle-switch + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

.modal-header {
  border-radius: .2em .2em 0 0;
  color: #f6f7f8;
  background: rgb(37,112,233);
  background: linear-gradient(34deg, rgba(37,112,233,1) 9%, rgba(36,182,255,1) 94%);
}

input.toggle-switch + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 2em;
  transition: background 0.4s;
}

input.toggle-switch + label:after {
  width: 2em;
  background-color: #fff;
  border-radius: 2em;
  transition: margin 0.4s;
}

input.toggle-switch:checked + label:before {
  background-color: #8ce196;
}

input.toggle-switch:checked + label:after {
  margin-left: 1.9em;
}
