.modal-header {
  border-radius: .2em .2em 0 0;
  color: #f6f7f8;
  background: rgb(37,112,233);
  background: linear-gradient(34deg, rgba(37,112,233,1) 9%, rgba(36,182,255,1) 94%);
}

.form-row {
  padding-top: 1em;
}
.toggle-switch {
  display: none;
}

/* Switch */

label {
  margin-bottom: 0;
}
.switch {
  display: flex;
  justify-content: center;
  height: inherit;
}

.toggle-switch + label {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.toggle-switch + label {
  width: inherit;
  height: inherit;
  background-color: #dddddd;
  border-radius: 2em;
}

input.toggle-switch + label:after {
  display: block;
  position: absolute;
  border-radius: 2em;
  padding: .39em 1em;
  left: 1px;
  content: "";
}

input.toggle-switch + label {
  transition: background 0.4s;
}

input.toggle-switch + label:after {
  content: "Parent";
  align-self: center;
  background-color: #fff;
  transition: 0.4s;
}

input.toggle-switch:checked + label:before {
  background-color: #8ce196;
}

input.toggle-switch:checked + label {
  background-color: #8ce196;
}
input.toggle-switch:checked + label:after {
  content: "Child";
  margin-left: 4.2em;
}

.form-label-placeholder:hover {
  cursor: text;
}

.form-label-placeholder {
  position: absolute;
  top: 0;
  pointer-events: none;
  padding: 0.5em 0 0 .8em;
  transition: all 200ms;
  opacity: 0.5;
}

#username-label {
  position: absolute;
  z-index: 9999;
  padding-left: 3.25em;
}

.form-control.ng-valid.ng-dirty + .form-label-placeholder,
.form-control.ng-valid + .form-label-placeholder {
  font-size: 90%;
  padding-left: 0em;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
