.modal-header {
  border-radius: .2em .2em 0 0;
  color: #f6f7f8;
  background: rgb(37,112,233);
  background: linear-gradient(34deg, rgba(37,112,233,1) 9%, rgba(36,182,255,1) 94%);
}

.form-row {
  padding-top: 1em;
}

.form-label-placeholder:hover {
  cursor: text;
}

.form-label-placeholder {
  position: absolute;
  top: 0;
  pointer-events: none;
  padding: 0.5em 0 0 .8em;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control.ng-valid.ng-dirty + .form-label-placeholder,
.form-control.ng-valid + .form-label-placeholder {
  font-size: 90%;
  padding-left: 0em;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

#descriptionLabel {
  padding-top: .4em;
}

.form-control.ng-invalid.ng-touched {
  border: solid red 1px;
}
