<body>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h1 id="title">Fam.ly</h1>
      <div class="card text-center" id="loginCard">
        <div class="card-body">
          <h5 class="card-title" class="card-text">Login</h5>
          <!-- <form> -->
          <div *ngIf="!this.loginSuccess" class="alert alert-danger" role="alert">
            Oops! That email and password don't match.
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="card-text">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="something@example.com"
              [(ngModel)]="currentUser.username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="card-text">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" [(ngModel)]="currentUser.password">
          </div>
          <!-- </form> -->
          <button class="btn btn-success btn-block" [disabled]="!validate()" (click)="submit()" [routerLink]="['/family']">Sign In</button>
          <div id="lineBreak"></div>
          <h6>New to Fam.ly?</h6>
          <p>Create a new account here.</p>
          <a class="btn btn-light btn-block" [routerLink]="['/new-account']">Create Account</a>
        </div>
      </div>
    </div>
    <div class="col-4">
    </div>
  </div>
</body>
