<body>
  <div class="jumbotron" id="header">
    <div class="container" id="jumbotron-container">
      <div class="row justify-content-around align-items-center">
        <div>
          <h1 id="jumbo-title">Doe Family Tasks</h1>
          <i>Fam since October 2018</i>
        </div>
        <div class="stats d-flex flex-column">
          <h2 class="align-self-center mb-1">Stats</h2>
          <div class="line"></div>
          <div class="row justify-content-around">
            <span><strong>Tasks Completed</strong>
            </span>
            <span><strong>Members</strong>
            </span>
          </div>
          <div class="row justify-content-around">

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-tasks-display></app-tasks-display>
</body>
