<div class="modal-header">
  <h1>{{this.alreadyMember ? "Edit" : "Create"}} Fam Member</h1>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="memberForm" class="container">
    <div class="form-row">
      <div class="col form-group">
        <input type="text" formControlName="firstName" class="form-control">
        <label class="form-label-placeholder" for="firstName">First Name</label>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col form-group">
        <input type="text" formControlName="lastName" class="form-control">
        <label class="form-label-placeholder" for="lastName">Last Name</label>
      </div>
    </div>
    <div class="form-row form-group">
      <ng-container *ngIf="!alreadyMember">
        <div class="switch col">
          <input type="checkbox" formControlName="userType" class="toggle-switch" id="parent-switch" checked="true">
          <label for="parent-switch"></label>
        </div>
      </ng-container>
      <div class="input-group col-8 form-label-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" formControlName="username" id="inlineFormInputGroup">
        <label class="form-label-placeholder" for="inlineFormInputGroup" id="username-label">Username</label>
      </div>
    </div>
    <div *ngIf="!alreadyMember">
      <div [formGroup]="passwordForm" class="form-row form-group">
        <div class="col form-label-group">
          <input type="password" formControlName="password" class="form-control">
          <label class="form-label-placeholder" for="password">Password</label>
        </div>
        <div class="col form-label-group">
          <input type="password" formControlName="confirmPassword" class="form-control">
          <label class="form-label-placeholder" (invalid)="passwordForm.valid" for="confirmPassword">Confirm Password</label>
          <div [hidden]="passwordForm.valid || passwordForm.controls['confirmPassword'].untouched">
            Passwords must match
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary"
    [disabled]="!memberForm.valid || (passwordForm && !passwordForm.valid)"
    (click)="processMemberInfo()"
    type="submit">Submit</button>
</div>
