<body *ngIf="isLoaded && tasks && members && familyInfo && user">
  <div class="jumbotron" id="header">
    <div class="container" id="jumbotron-container">
      <div class="row justify-content-around align-items-center">
        <div id="family-info">
          <h1 id="jumbo-title">{{ user?.lastName }} Family</h1>
          <i>Fam since {{ familyInfo?.registrationDate | date }}</i>
          <br>
          <hr>
          <span><b>Address</b>: {{ familyInfo?.address }}</span>
          <br>
          <span><b>Email</b>: {{ familyInfo?.email }}</span>
        </div>
        <div class="stats d-flex flex-column">
          <h2 class="align-self-center mb-1">Stats</h2>
          <div class="line"></div>
          <div class="row justify-content-around">
            <span><strong>Tasks Completed</strong>
              <fa-icon [icon]="faClipboardCheck" size="lg"></fa-icon>
            </span>
            <span><strong>Members</strong>
              <fa-icon [icon]="faUsers" size="lg"></fa-icon>
            </span>
          </div>
          <div class="row justify-content-around">
            <h4 id="num-tasks">{{ numCompletedTasks }}</h4>
            <h4 id="num-members">{{ members?.length }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-6 col-lg-5 col-xl-4 d-flex flex-column" id="members-container">
        <div class="table-section row justify-content-between align-items-center">
          <h1>Members</h1>
          <button class="fast-animated scale plus btn btn-success add-btn" (click)="openMemberModal()"><span>Add Fam</span></button>
        </div>
        <div *ngIf="members?.length == 0">
          <div class="alert alert-primary" role="alert">
            No members to display
          </div>
        </div>
        <table *ngIf="members?.length > 0" class="table table-striped rounded">
          <tbody>
            <tr *ngFor="let member of members">
              <td>{{ member.firstName }} {{ member.lastName }}</td>
              <td *ngIf="member.userType == 1">Parent</td>
              <td *ngIf="member.userType == 0">Child</td>
            </tr>
          </tbody>
        </table>
        <button class="fast-animated push arrow btn btn-primary align-self-center" id="view-members-btn" [routerLink]="['members']">
          <span>View All Members</span>
        </button>
      </div>
      <div class="col-md-12 col-lg-7 d-flex flex-column" id="tasks-container">
        <div class="table-section row justify-content-between align-items-center">
          <h1>Tasks</h1>
          <button class="fast-animated scale plus btn btn-success add-btn" (click)="openTaskModal()" data-target="#newTaskModal"><span>New
              Task</span></button>
        </div>
        <!-- <div *ngIf="tasks?.length == 0">
          <div class="alert alert-primary" role="alert">
            No tasks to display
          </div>
        </div> -->
        <table class="table table-striped rounded">
          <tbody>
            <tr *ngIf="tasks?.length == 0"><td>No Tasks To Display</td></tr>
            <tr *ngFor="let task of tasks" [ngSwitch]="task.status.toLowerCase()">
              <td>{{ task.taskTitle }}</td>
              <td>{{ task.firstName }}</td>
              <td *ngSwitchCase="'incomplete'" align="center"><span class="badge badge-primary">{{
                  task.status.toLowerCase() }}</span></td>
              <td *ngSwitchCase="'complete'" align="center"><span class="badge badge-success">{{
                  task.status.toLowerCase() }}</span></td>
              <td *ngSwitchCase="'pending'" align="center"><span class="badge badge-warning">{{
                  task.status.toLowerCase() }}</span></td>
              <td *ngSwitchCase="'rejected'" align="center"><span class="badge badge-dark">{{ task.status.toLowerCase()
                  }}</span></td>
              <td *ngSwitchDefault></td>
            </tr>
          </tbody>
        </table>
        <button class="fast-animated push arrow btn btn-primary align-self-center" id="view-tasks-btn" [routerLink]="['tasks']">
          <span>View All Tasks</span>
        </button>

      </div>
    </div>
  </div>
</body>
