/* You can add global styles to this file, and also import other style files */
.btn-primary {
  background-color: #2176ff !important;
  border-color: #2176ff !important;
}

.btn-success {
  background-color: #2ec4b6 !important;
  border-color: #2ec4b6 !important;
}

.btn-light {
  background-color: #f6f7f8 !important;
  border-color: #f6f7f8 !important;
}

.btn-dark {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}

body {
  min-height: 100vh;
}

body,
nav {
  background-color: #f6f7f8;
}

h1,
h2,
nav {
  font-family: "Kollektif";
}

.btn,
.btn.btn {
  border-radius: 1.5em;
}

.btn-success,
.btn.btn-success {
  color: #fdfdfd;
  background-color: #2ec4b6;
  border-color: #2ec4b6;
}

.btn-primary,
.btn.btn-primary {
  color: #fdfdfd;
  background-color: #3985ff;
  border-color: #3985ff;
}

.btn-warning,
.btn.btn-warning {
  color: #fdfdfd;
  background-color: #eb3764;
  border-color: #eb3764;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
  color: #faf0f0;
  background-color: #27a195;
  border-color: #27a195;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active {
  color: #faf0f0;
  background-color: #bb2e51;
  border-color: #bb2e51;
}

.badge-success,
.badge.badge-success {
  background-color: #22c9b8;
}

.badge-primary,
.badge.badge-primary {
  background-color: #3985ff;
}

.badge-warning,
.badge.badge-warning {
  color: #f6f7f8;
  background-color: #eb3764;
}

#header {
  border-radius: 0em;
  color: #f6f7f8;
  background: rgb(37,112,233);
  background: linear-gradient(34deg, rgba(37,112,233,1) 9%, rgba(36,182,255,1) 94%);
}
